.page-departament .header {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
    flex-wrap: wrap;
    /* justify-content: right; */
}

.page-departament .header .barra-pesquisa {
    display: flex;    
}

.page-departament .header .barra-pesquisa input {
    padding: 10px;
    background-color: #fff;
    border:0px;
}

.page-departament .header .barra-pesquisa img {
    cursor: pointer;
    background-color: #fff;
}

.page-departament .header select {
    padding: 10px;
    background-color: #fff;
    border:0px;
    cursor: pointer;
}
