.page-documents .header {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 20px;
}
.page-documents .header h4{
    margin: 0;
    font-weight: bold;
}
.page-documents .header .card {
    font-size: 12px;
    margin:20px;
}
.page-documents .barra-nova-versao-documento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    margin-bottom: 16px;
}

.page-documents textarea {
    width: 100%;
}

.pastas-documentos {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.pastas-documentos > div 
{
    background-color: #fff;
    padding: 16px;
    border-radius: 6px;
    max-width: 300px;
    width: 100%;
}

.page-departament .header .barra-pesquisa {
    display: flex;    
}

.page-departament .header .barra-pesquisa input {
    padding: 10px;
    background-color: #fff;
    border:0px;
}

.page-departament .header .barra-pesquisa img {
    cursor: pointer;
    background-color: #fff;
}