.est-dashboard{
    max-width: 1440px;
    width: 100%;
}
.est-dashboard .est-graficos {
  display: flex;
  gap: 16px;
  padding: 40px;
}
.est-dashboard .est-graficos img {
  width: 100%;
}
.est-dashboard .est-graficos div {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .est-dashboard .est-graficos {
    flex-direction: column;
  }
}