.history > div.text {
    color:var(--cor-azul-padrao);
    font-size: 20px;
}
.history > div.text p {
    padding: 40px;
    width: 50%;
}

.history > div.abas {
    gap:3px;
    padding-top: 0px;
}

.history > div.abas .aba {
    background-color: var(--cor-azul-padrao);
    border-radius: 6px;
    overflow:auto;
    width: 33.33%;
    display: flex;
    flex-direction: column;
}
.history > div.abas .aba h2 {
    padding: 40px;
    font-weight: bold;
    text-align: center;
} 
.history > div.abas p{
    padding: 0px 40px 40px 40px;
    color:var(--cor-branca-padrao);
}
.history > div.abas .aba > div {
    border-bottom:4px solid var(--cor-laranja-padrao);
    margin-bottom: 20px;
    height: 100%;
}


.history > div.abas .aba p:last-child {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.history > div.abas h2 {
    color:var(--cor-branca-padrao);
}

@media (max-width: 768px) {
    .history > div.text p {
        width: 100%;
        padding: 20px;
    }
    .history > div.abas .aba {
        margin-bottom: 10px;
        width: auto;
    }
}