/*body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app-container {
  padding: 20px;
}

h1, h2 {
  color: #333;
}

button {
  background-color: #0066cc;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

input, select {
  padding: 8px;
  margin: 5px;
  width: 200px;
}
*/

*body{
  background-color: #16243f;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* evita scroll horizontal */
  width: 100%;
}