/* Service.css */
.about-page {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f7f4;
  color: #333;
  /* margin-top: 85px; */
}

.about-hero {
  padding: 80px 20px;
  text-align: center;
  color: white;
  height: 300px;
  align-content: center;
}

.about-hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about-hero p {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
}

.about-button {
  margin-top: 20px;
  background-color: var(--dynamic-color);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.about-section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.about-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.about-card {
  background: white;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.about-card h3 {
  margin-top: 0;
  color: var(--dynamic-color);
}
